SUBSYSTEMS=="platform", ATTR{id}=="koelschak4643", ENV{SOUND_FORM_FACTOR}="internal"
SUBSYSTEMS=="platform", ATTR{id}=="lagerak4643", ENV{SOUND_FORM_FACTOR}="internal"
